version: '3.7'
services:
  db:
    restart: unless-stopped
    image: postgres:12-alpine
    environment:
      POSTGRES_PASSWORD: demo
      POSTGRES_USER: demo
      POSTGRES_DB: demo
      PGDATA: /var/lib/postgresql/data/pgdata
      TZ: Africa/Douala
      PGTZ: Africa/Douala
    ports:
      - 5454:5432
    volumes:
      - ./db-data/:/var/lib/postgresql/
      - ./var:/var/www/var
  typesense:
    restart: unless-stopped
    image: typesense/typesense:0.18.0
    environment:
      TYPESENSE_DATA_DIR: /data
      TYPESENSE_API_KEY: typesensekey
    ports:
      - 8108:8108
    volumes:
      - ./search-data:/data
  backend:
    build:
      context: ../
      dockerfile: docker/backend/Dockerfile
    restart: unless-stopped
    ports:
      - 8080:8080
    depends_on:
      - db
  frontend:
    build:
      context: ../
      dockerfile: docker/frontend/Dockerfile
    restart: unless-stopped
    ports:
      - 8000:80
    depends_on:
      - backend
